<h1> About Sell & Tell</h1>

<p> We are a startup whose mission is to bring artists and art lovers a platform to comment on and perhaps purchase art</p>

<h3> How it Works </h3>
<p> To start, simply register and start posting</p>