<!DOCTYPE html>
<html>
  <head>
     <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
     <link rel='stylesheet' href='/stylesheets/custom.css' />

  </head>
  <body>
            <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/"><strong>Sell &amp; Tell</strong></a></li>
            <li><a href="#about">About</a></li>
            <li><a href="/listings">Listings</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    <div class="container bs-docs-container">
      <div class ="row">
      <div class="col-xs-9" role = "main">
        {{{body}}}
      </div>
    </div>
    </div>
  </body>
</html>
